/* @tailwind base; */

.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.visible {
  visibility: visible
}

.collapse {
  visibility: collapse
}

.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.sticky {
  position: sticky
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px
}

.z-20 {
  z-index: 20
}

.col-span-2 {
  grid-column: span 2 / span 2
}

.float-right {
  float: right
}

.m-1 {
  margin: 0.25rem
}

.m-0 {
  margin: 0px
}

.-m-8 {
  margin: -2rem
}

.m-auto {
  margin: auto
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.-mx-11 {
  margin-left: -2.75rem;
  margin-right: -2.75rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mr-4 {
  margin-right: 1rem
}

.-mt-3 {
  margin-top: -0.75rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mr-7 {
  margin-right: 1.75rem
}

.mb-0 {
  margin-bottom: 0px
}

.ml-2 {
  margin-left: 0.5rem
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.table {
  display: table
}

.grid {
  display: grid
}

.contents {
  display: contents
}

.hidden {
  display: none
}

.h-9 {
  height: 2.25rem
}

.h-full {
  height: 100%
}

.h-0 {
  height: 0px
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content
}

.h-7 {
  height: 1.75rem
}

.w-9 {
  width: 2.25rem
}

.w-10 {
  width: 2.5rem
}

.w-6\/12 {
  width: 50%
}

.w-full {
  width: 100%
}

.w-4\/5 {
  width: 80%
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content
}

.w-96 {
  width: 24rem
}

.min-w-max {
  min-width: -moz-max-content;
  min-width: max-content
}

.min-w-\[240px\] {
  min-width: 240px
}

.\!min-w-\[160px\] {
  min-width: 160px !important
}

.min-w-\[200px\] {
  min-width: 200px
}

.max-w-4xl {
  max-width: 56rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-shrink-0 {
  flex-shrink: 0
}

.flex-grow {
  flex-grow: 1
}

.-translate-x-0 {
  --tw-translate-x: -0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.overflow-auto {
  overflow: auto
}

.overflow-hidden {
  overflow: hidden
}

.overflow-y-auto {
  overflow-y: auto
}

.whitespace-nowrap {
  white-space: nowrap
}

.rounded {
  border-radius: 0.25rem
}

.rounded-full {
  border-radius: 9999px
}

.border {
  border-width: 1px
}

.border-0 {
  border-width: 0px
}

.border-b {
  border-bottom-width: 1px
}

.border-r {
  border-right-width: 1px
}

.border-solid {
  border-style: solid
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.bg-none {
  background-image: none
}

.p-0 {
  padding: 0px
}

.p-4 {
  padding: 1rem
}

.p-2 {
  padding: 0.5rem
}

.p-1 {
  padding: 0.25rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.pb-3 {
  padding-bottom: 0.75rem
}

.pl-10 {
  padding-left: 2.5rem
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-lg {
  font-size: 16px
}

.font-bold {
  font-weight: 700
}

.lowercase {
  text-transform: lowercase
}

.italic {
  font-style: italic
}

.leading-none {
  line-height: 1
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}

.opacity-0 {
  opacity: 0
}

.shadow-none {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.duration-300 {
  transition-duration: 300ms
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

@media (min-width: 640px) {
  .sm\:mt-3 {
    margin-top: 0.75rem
  }

  .sm\:rounded {
    border-radius: 0.25rem
  }

  .sm\:rounded-lg {
    border-radius: 0.5rem
  }

  .sm\:border {
    border-width: 1px
  }

  .sm\:border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity))
  }

  .sm\:px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem
  }

  .sm\:pt-3 {
    padding-top: 0.75rem
  }

  .sm\:shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
  }
}

@media (min-width: 1024px) {
  .lg\:order-first {
    order: -9999
  }

  .lg\:order-last {
    order: 9999
  }

  .lg\:flex {
    display: flex
  }

  .lg\:flex-col {
    flex-direction: column
  }
}
